[submodule "firmware-analysis-toolkit"]
	path = firmware-analysis-toolkit
	url = https://github.com/attify/firmware-analysis-toolkit
[submodule "MEAnalyzer"]
	path = MEAnalyzer
	url = https://github.com/platomav/MEAnalyzer
[submodule "sasquatch"]
	path = sasquatch
	url = https://github.com/devttys0/sasquatch
[submodule "rpef"]
	path = rpef
	url = https://github.com/mncoppola/rpef
[submodule "ipmi_firmware_tools"]
	path = ipmi_firmware_tools
	url = https://github.com/devicenull/ipmi_firmware_tools
[submodule "Firmware_web_rce_finder"]
	path = Firmware_web_rce_finder
	url = https://github.com/Ganapati/Firmware_web_rce_finder
[submodule "firmware-mod-kit"]
	path = firmware-mod-kit
	url = https://github.com/mirror/firmware-mod-kit
[submodule "binwalk"]
	path = binwalk
	url = https://github.com/devttys0/binwalk
[submodule "firmadyne"]
	path = firmadyne
	url = https://github.com/firmadyne/firmadyne
[submodule "fwexpl"]
	path = fwexpl
	url = https://github.com/Cr4sh/fwexpl
[submodule "UEFITool"]
	path = UEFITool
	url = https://github.com/LongSoft/UEFITool
[submodule "jefferson"]
	path = jefferson
	url = https://github.com/sviehb/jefferson
[submodule "ubi_reader"]
	path = ubi_reader
	url = https://github.com/jrspruitt/ubi_reader
[submodule "cemu"]
	path = cemu
	url = https://github.com/hugsy/cemu
[submodule "firmware-tools"]
	path = firmware-tools
	url = https://github.com/rssnsj/firmware-tools
[submodule "firminsight"]
	path = firminsight
	url = https://github.com/ilovepp/firminsight
[submodule "oh-brother"]
	path = oh-brother
	url = https://github.com/CauldronDevelopmentLLC/oh-brother
[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng
[submodule "cpu_rec"]
	path = cpu_rec
	url = https://github.com/airbus-seclab/cpu_rec/
[submodule "yaffshiv"]
	path = yaffshiv
	url = https://github.com/devttys0/yaffshiv
[submodule "scraper"]
	path = scraper
	url = https://github.com/firmadyne/scraper
[submodule "Dahua-Firmware-Mod-Kit"]
	path = Dahua-Firmware-Mod-Kit
	url = https://github.com/BotoX/Dahua-Firmware-Mod-Kit
[submodule "firmware-mod-kit-osx"]
	path = firmware-mod-kit-osx
	url = https://github.com/cinquemb/firmware-mod-kit-osx
[submodule "unME11"]
	path = unME11
	url = https://github.com/ptresearch/unME11
[submodule "parseMFS"]
	path = parseMFS
	url = https://github.com/ptresearch/parseMFS
[submodule "IntelME-JTAG"]
	path = IntelME-JTAG
	url = https://github.com/ptresearch/IntelME-JTAG
[submodule "firminator_backend"]
	path = firminator_backend
	url = https://github.com/misterch0c/firminator_backend
[submodule "lzma-unpacker"]
	path = lzma-unpacker
	url = https://github.com/bmaia/lzma-unpacker
[submodule "me-tools"]
	path = me-tools
	url = https://github.com/skochinsky/me-tools
[submodule "meloader"]
	path = meloader
	url = https://github.com/embedi/meloader
[submodule "IDAPythonEmbeddedToolkit"]
	path = IDAPythonEmbeddedToolkit
	url = https://github.com/maddiestone/IDAPythonEmbeddedToolkit
[submodule "firmflaws"]
	path = firmflaws
	url = https://github.com/Ganapati/firmflaws
[submodule "tplink-vxworks-based-firmware"]
	path = tplink-vxworks-based-firmware
	url = https://github.com/LeeXiaolan/tplink-vxworks-based-firmware
[submodule "hdd_firmware_tools"]
	path = hdd_firmware_tools
	url = https://github.com/eurecom-s3/hdd_firmware_tools
[submodule "PYaffs"]
	path = PYaffs
	url = https://github.com/mattboyer/PYaffs
[submodule "Yapr-forensics"]
	path = Yapr-forensics
	url = https://github.com/umass-forensics/Yapr-forensics
[submodule "YaffsParser"]
	path = YaffsParser
	url = https://github.com/rjwalls/YaffsParser
[submodule "PySquashfsImage"]
	path = PySquashfsImage
	url = https://github.com/matteomattei/PySquashfsImage
[submodule "binwalk-new"]
	path = binwalk-new
	url = https://github.com/ReFirmLabs/binwalk
[submodule "uefi-firmware-parser"]
	path = uefi-firmware-parser
	url = https://github.com/theopolis/uefi-firmware-parser
[submodule "me_cleaner"]
	path = me_cleaner
	url = https://github.com/corna/me_cleaner
[submodule "image-manager"]
	path = image-manager
	url = https://github.com/dojot/image-manager
[submodule "firmanal"]
	path = firmanal
	url = https://github.com/kyechou/firmanal
